In [161]:
import pandas  as pd
import numpy as np
from langdetect import detect
import spacy

In [162]:
d= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\Capetown\\Capetown.csv")
d1= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\Hong Kong\\reviews.csv")
d2= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\Lisbon\\reviews.csv")
d3= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\Istanbul\\reviews.csv")
d4= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\London\\reviews.csv")
d5= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\NewYork\\reviews.csv")
d6= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\Paris\\reviews.csv")
d7= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\Rome\\reviews.csv")
d8= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\Sydney\\reviews.csv")
d9= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\Tokyo\\reviews.csv")
d10= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\Victoria\\reviews.csv")
d11= pd.read_csv("C:\\Users\\sarka\\OneDrive\\Desktop\\Data\\Rio de janerio\\reviews.csv")

In [163]:
d['Location']='Cape Town'
d1['Location']='Hong Kong'
d2['Location']='Lisbon'
d3['Location']='Istanbul'
d4['Location']='London'
d5['Location']='NewYork'
d6['Location']='Paris'
d7['Location']='Rome'
d8['Location']='Sydney'
d9['Location']='Tokyo'
d10['Location']='Victoria'
d11['Location']='Rio de janerio'

In [164]:
CapeTown= d.sample(n= 200)
HongKong= d1.sample(n= 200)
Lisbon= d2.sample(n= 200)
Istanbul= d3.sample(n= 200)
London= d4.sample(n= 200)
NewYork= d5.sample(n= 200)
Paris= d6.sample(n= 200)
Rome= d7.sample(n= 200)
Sydney= d8.sample(n= 200)
Tokyo= d9.sample(n= 200)
Victoria= d10.sample(n= 200)
Rio= d11.sample(n= 200)

In [165]:
D=([CapeTown, HongKong, Lisbon, Istanbul, London, NewYork, Paris, Rome, Sydney, Tokyo, Victoria, Rio])
df= pd.concat(D)
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,Location
8958,1333749,128365707,2017-01-24,101197943,Raphael,"Apparemment correct, jolie vue, propre.",Cape Town
338124,38787380,575482615,2019-12-10,211261070,Robin,Great hospitality and location,Cape Town
19100,2359702,79500999,2016-06-13,48109217,Breyana,Isabela was really sweet! She provided us with...,Cape Town
315209,32027955,426483234,2019-03-21,230058623,Aleyah,It’s a neat and cozy place and very central.,Cape Town
125924,12030476,112227277,2016-11-05,23956736,Annemarie,The amartment is just wonderful! Really tastfu...,Cape Town
...,...,...,...,...,...,...,...
86159,2873314,22957069,2014-11-18,21490805,Benedicte,Appartement idéalement situé. A une minute de...,Rio de janerio
300231,29684794,460967370,2019-05-30,97035118,Carlos,Excelente ubicación y muy central a muchas par...,Rio de janerio
327229,35648316,575802888,2019-12-11,308104459,Natalia,Espaço aconchegante e ótimo para quem deseja d...,Rio de janerio
246952,19017652,437911520,2019-04-15,38770358,Андрей,В этом месяце мы с мужем на две недели летали ...,Rio de janerio
72448,2452761,116316506,2016-11-29,92475501,Laísa,"O apartamento de Natascha é pequeno, mas basta...",Rio de janerio

In [166]:
for index, row in df['comments'].iteritems():
        try:
            lang = detect(row) #detecting each row
            df.loc[index, 'Languagereveiw'] = lang
        except:
            'skip'

In [167]:
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,Location,Languagereveiw
8958,1333749,128365707,2017-01-24,101197943,Raphael,"Apparemment correct, jolie vue, propre.",Cape Town,fr
338124,38787380,575482615,2019-12-10,211261070,Robin,Great hospitality and location,Cape Town,en
19100,2359702,79500999,2016-06-13,48109217,Breyana,Isabela was really sweet! She provided us with...,Cape Town,en
315209,32027955,426483234,2019-03-21,230058623,Aleyah,It’s a neat and cozy place and very central.,Cape Town,en
125924,12030476,112227277,2016-11-05,23956736,Annemarie,The amartment is just wonderful! Really tastfu...,Cape Town,en
...,...,...,...,...,...,...,...,...
86159,2873314,22957069,2014-11-18,21490805,Benedicte,Appartement idéalement situé. A une minute de...,Rio de janerio,fr
300231,29684794,460967370,2019-05-30,97035118,Carlos,Excelente ubicación y muy central a muchas par...,Rio de janerio,es
327229,35648316,575802888,2019-12-11,308104459,Natalia,Espaço aconchegante e ótimo para quem deseja d...,Rio de janerio,pt
246952,19017652,437911520,2019-04-15,38770358,Андрей,В этом месяце мы с мужем на две недели летали ...,Rio de janerio,ru
72448,2452761,116316506,2016-11-29,92475501,Laísa,"O apartamento de Natascha é pequeno, mas basta...",Rio de janerio,pt

In [173]:
is_rio=(df['Location']=='Rio de janerio')
k=pd.DataFrame(is_rio)
print(k)

        Location
8958       False
338124     False
19100      False
315209     False
125924     False
...          ...
86159       True
300231      True
327229      True
246952      True
72448       True

[2400 rows x 1 columns]

In [7]:
is_eng=(df['Languagereveiw']=='en')
df=df[is_eng]
print(df.shape)

(1731, 8)

In [8]:
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,Location,Languagereveiw
62637,6351084,98167202,2016-08-29,5091634,Peter,Axel was very welcoming and helpful. The hous...,Cape Town,en
161839,15425345,223973146,2018-01-02,532817,Kat,Loved staying at Max's place in Cape Town. The...,Cape Town,en
202532,17511576,597280363,2020-01-25,31599939,Paolo,"Sally was an amazing host, kind, thoughtful an...",Cape Town,en
42247,4629835,429821763,2019-03-29,25352063,Jaco,"Neat, clean and tidy. Conveniently close to Ca...",Cape Town,en
163657,15539917,224387938,2018-01-03,22138929,Gerry,We loved Star Cottage. It’s proximity to the b...,Cape Town,en
...,...,...,...,...,...,...,...,...
118847,5133923,282489857,2018-06-27,4095682,Steven,"We had an odd check in time, but they were the...",Rio de janerio,en
67607,2341350,77459486,2016-06-01,15120104,Nadia,"Luba is a lovely and beautiful woman. Caring, ...",Rio de janerio,en
243883,18393419,198457557,2017-09-29,32537396,Joe,"Great stay, easy to work with Newton, great lo...",Rio de janerio,en
83538,2778346,61151307,2016-02-01,2361472,Oliver,"Luana and her boyfriend were very, very friend...",Rio de janerio,en
5820,190906,2807950,2012-11-05,2885113,Alexandra,Charming apartment a short walk from the beach...,Rio de janerio,en

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.datasets import fetch_20newsgroups
from sklearn.decomposition import NMF, LatentDirichletAllocation
import re

In [10]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [130]:
df['comments1']=df['comments'].apply(lambda x: " ".join(x.lower() for x in str(x).split()))
df['comments1']=df['comments1'].str.replace(r'[^\w\s]','')
df['comments1']= df['comments1'].str.replace('([0-9]+)', '')
df['comments1']=df['comments1'].str.replace(r'-','')
df['comments1']=df['comments1'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [46]:
r=[]
n=""
m=""
for x in tqdm(range(len(df['comments1']))):
    if len(str(df['comments1'].iloc[x])) != 0:
        str1=""
        str2=""
        str3=""
        str4=""
        lines = str(df['comments1'].iloc[x])
        doc =nlp(lines)
        for token in doc:
            if((str(token)=="host")or (str(token)=="hosts")):
                for j in token.lefts:
                    if j.dep_ is 'amod' and j.pos_ is 'ADJ':
                        str1 = j.text+' '+'host'
                        n= " "+str1
                        df['host'].iloc[x]=n
                        for k in j.lefts:
                            if k.dep_ is 'advmod':
                                str2 = k.text +' '+ j.text + ' '+'host'
                                n= " " + str2
                                df['host'].iloc[x]=n
                    if j.dep_ is 'neg' and j.pos_ is 'ADV':
                        str4=j.text+ ' '+ 'host'
                        df['host'].iloc[x]=str4
                for j in token.rights:
                    if j.dep_ is 'amod' and j.pos_ is 'ADJ':
                        str3= j.text+' '+'host'
                        df['host'].iloc[x]=str3
                        for k in j.lefts:
                            if k.dep_ is 'advmod':
                                str5 = k.text +' '+ j.text + ' '+'host'
                                df['host'].iloc[x]=str5
                        
                    
df

  0%|▏                                                                                | 4/1731 [00:00<00:44, 38.72it/s]C:\Users\sarka\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  0%|▎                                                                                | 8/1731 [00:00<00:45, 37.75it/s]C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  3%|██▌                                                                             | 55/1731 [00:01<01:02, 26.67it/s]C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 57%|████████████████████████████████████████████▉                                  | 986/1731 [00:28<00:22, 33.62it/s]C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
100%|██████████████████████████████████████████████████████████████████████████████| 1731/1731 [00:49<00:00, 35.30it/s]

,listing_id,id,date,reviewer_id,reviewer_name,comments,Location,Languagereveiw,comments1,host1,host
62637,6351084,98167202,2016-08-29,5091634,Peter,Axel was very welcoming and helpful. The hous...,Cape Town,en,axel welcoming helpful house beautiful inside ...,0,
161839,15425345,223973146,2018-01-02,532817,Kat,Loved staying at Max's place in Cape Town. The...,Cape Town,en,loved staying maxs place cape town location in...,1,
202532,17511576,597280363,2020-01-25,31599939,Paolo,"Sally was an amazing host, kind, thoughtful an...",Cape Town,en,sally amazing host kind thoughtful anticipatin...,1,amazing host
42247,4629835,429821763,2019-03-29,25352063,Jaco,"Neat, clean and tidy. Conveniently close to Ca...",Cape Town,en,neat clean tidy conveniently close cape town s...,0,
163657,15539917,224387938,2018-01-03,22138929,Gerry,We loved Star Cottage. It’s proximity to the b...,Cape Town,en,loved star cottage proximity beach cottage fee...,0,
...,...,...,...,...,...,...,...,...,...,...,...
118847,5133923,282489857,2018-06-27,4095682,Steven,"We had an odd check in time, but they were the...",Rio de janerio,en,odd check time let us hours flying perfect loc...,0,
67607,2341350,77459486,2016-06-01,15120104,Nadia,"Luba is a lovely and beautiful woman. Caring, ...",Rio de janerio,en,luba lovely beautiful woman caring attentive g...,0,
243883,18393419,198457557,2017-09-29,32537396,Joe,"Great stay, easy to work with Newton, great lo...",Rio de janerio,en,great stay easy work newton great location apa...,0,
83538,2778346,61151307,2016-02-01,2361472,Oliver,"Luana and her boyfriend were very, very friend...",Rio de janerio,en,luana boyfriend friendly accommodating great g...,0,
5820,190906,2807950,2012-11-05,2885113,Alexandra,Charming apartment a short walk from the beach...,Rio de janerio,en,charming apartment short walk beaches eateries...,0,

In [58]:
df['room']=""
r=[]
n=""
m=""
for x in tqdm(range(len(df['comments1']))):
    if len(str(df['comments1'].iloc[x])) != 0:
        str1=""
        str2=""
        str3=""
        str4=""
        lines = str(df['comments1'].iloc[x])
        doc =nlp(lines)
        for token in doc:
            if((str(token)=="room")or (str(token)=="rooms")):
                for j in token.lefts:
                    if j.dep_ is 'amod' and j.pos_ is 'ADJ':
                        str1 = j.text+' '+'room'
                        n= " "+str1
                        df['room'].iloc[x]=n
                        for k in j.lefts:
                            if k.dep_ is 'advmod':
                                str2 = k.text +' '+ j.text + ' '+'room'
                                n= " " + str2
                                df['room'].iloc[x]=n
                    if j.dep_ is 'neg' and j.pos_ is 'ADV':
                        str4=j.text+ ' '+ 'room'
                        df['room'].iloc[x]=str4
                for j in token.rights:
                    if j.dep_ is 'amod' and j.pos_ is 'ADJ':
                        str3= j.text+' '+'room'
                        df['room'].iloc[x]=str3
                        for k in j.lefts:
                            if k.dep_ is 'advmod':
                                str5 = k.text +' '+ j.text + ' '+'room'
                                df['room'].iloc[x]=str5
                        
                    
df

C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
  2%|█▌                                                                              | 35/1731 [00:00<00:39, 43.16it/s]C:\Users\sarka\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  7%|█████▍                                                                         | 119/1731 [00:03<00:52, 30.42it/s]C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 11%|████████▍                                                                      | 185/1731 [00:05<00:36, 42.41it/s]C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 13%|██████████                                                                     | 220/1731 [00:06<00:37, 40.36it/s]C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
100%|██████████████████████████████████████████████████████████████████████████████| 1731/1731 [00:45<00:00, 37.98it/s]

,listing_id,id,date,reviewer_id,reviewer_name,comments,Location,Languagereveiw,comments1,host1,host,room
62637,6351084,98167202,2016-08-29,5091634,Peter,Axel was very welcoming and helpful. The hous...,Cape Town,en,axel welcoming helpful house beautiful inside ...,0,,
161839,15425345,223973146,2018-01-02,532817,Kat,Loved staying at Max's place in Cape Town. The...,Cape Town,en,loved staying maxs place cape town location in...,1,,
202532,17511576,597280363,2020-01-25,31599939,Paolo,"Sally was an amazing host, kind, thoughtful an...",Cape Town,en,sally amazing host kind thoughtful anticipatin...,1,amazing host,
42247,4629835,429821763,2019-03-29,25352063,Jaco,"Neat, clean and tidy. Conveniently close to Ca...",Cape Town,en,neat clean tidy conveniently close cape town s...,0,,
163657,15539917,224387938,2018-01-03,22138929,Gerry,We loved Star Cottage. It’s proximity to the b...,Cape Town,en,loved star cottage proximity beach cottage fee...,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...
118847,5133923,282489857,2018-06-27,4095682,Steven,"We had an odd check in time, but they were the...",Rio de janerio,en,odd check time let us hours flying perfect loc...,0,,
67607,2341350,77459486,2016-06-01,15120104,Nadia,"Luba is a lovely and beautiful woman. Caring, ...",Rio de janerio,en,luba lovely beautiful woman caring attentive g...,0,,
243883,18393419,198457557,2017-09-29,32537396,Joe,"Great stay, easy to work with Newton, great lo...",Rio de janerio,en,great stay easy work newton great location apa...,0,,
83538,2778346,61151307,2016-02-01,2361472,Oliver,"Luana and her boyfriend were very, very friend...",Rio de janerio,en,luana boyfriend friendly accommodating great g...,0,,
5820,190906,2807950,2012-11-05,2885113,Alexandra,Charming apartment a short walk from the beach...,Rio de janerio,en,charming apartment short walk beaches eateries...,0,,

In [56]:
df["room"]=""
df

C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,listing_id,id,date,reviewer_id,reviewer_name,comments,Location,Languagereveiw,comments1,host1,host,room
62637,6351084,98167202,2016-08-29,5091634,Peter,Axel was very welcoming and helpful. The hous...,Cape Town,en,axel welcoming helpful house beautiful inside ...,0,,
161839,15425345,223973146,2018-01-02,532817,Kat,Loved staying at Max's place in Cape Town. The...,Cape Town,en,loved staying maxs place cape town location in...,1,,
202532,17511576,597280363,2020-01-25,31599939,Paolo,"Sally was an amazing host, kind, thoughtful an...",Cape Town,en,sally amazing host kind thoughtful anticipatin...,1,amazing host,
42247,4629835,429821763,2019-03-29,25352063,Jaco,"Neat, clean and tidy. Conveniently close to Ca...",Cape Town,en,neat clean tidy conveniently close cape town s...,0,,
163657,15539917,224387938,2018-01-03,22138929,Gerry,We loved Star Cottage. It’s proximity to the b...,Cape Town,en,loved star cottage proximity beach cottage fee...,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...
118847,5133923,282489857,2018-06-27,4095682,Steven,"We had an odd check in time, but they were the...",Rio de janerio,en,odd check time let us hours flying perfect loc...,0,,
67607,2341350,77459486,2016-06-01,15120104,Nadia,"Luba is a lovely and beautiful woman. Caring, ...",Rio de janerio,en,luba lovely beautiful woman caring attentive g...,0,,
243883,18393419,198457557,2017-09-29,32537396,Joe,"Great stay, easy to work with Newton, great lo...",Rio de janerio,en,great stay easy work newton great location apa...,0,,
83538,2778346,61151307,2016-02-01,2361472,Oliver,"Luana and her boyfriend were very, very friend...",Rio de janerio,en,luana boyfriend friendly accommodating great g...,0,,
5820,190906,2807950,2012-11-05,2885113,Alexandra,Charming apartment a short walk from the beach...,Rio de janerio,en,charming apartment short walk beaches eateries...,0,,

In [62]:
import operator
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [64]:
for i in tqdm(range(len(df['host']))):
    sentiment = []
    for i in range(len(df)):
        score_dict={'pos':0,'neg':0,'neu':0}
        if len(df['host'][i:])!=0: 
            for aspects in df['host'][i:]:
                sent = analyser.polarity_scores(aspects)
                score_dict['neg'] += sent['neg']
                score_dict['pos'] += sent['pos']
            #score_dict['neu'] += sent['neu']
            sentiment.append(max(score_dict.items(), key=operator.itemgetter(1))[0])
        else:
            sentiment.append('NaN')
            sentiment.append('NaN')
df['sentiment'] = sentiment
df.head()

  0%|                                                                                         | 0/1731 [00:00<?, ?it/s]

KeyboardInterrupt:

In [129]:
df=df.drop(columns=['comments1'])
df

KeyError: "['comments1'] not found in axis"

In [ ]:
df

In [93]:
from nltk.stem import WordNetLemmatizer
import nltk
lemma = WordNetLemmatizer()
stem = nltk.PorterStemmer()
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()

In [94]:
def lemmatize_text(t):
    return [lemma.lemmatize(w) for w in w_tokenizer.tokenize(t)]
df['text_lemmatized'] = df.comments1.apply(lemmatize_text)
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,Location,Languagereveiw,comments1,host1,host,text_lemmatized
62637,6351084,98167202,2016-08-29,5091634,Peter,Axel was very welcoming and helpful. The hous...,Cape Town,en,axel welcoming helpful house beautiful inside ...,0,,"[axel, welcoming, helpful, house, beautiful, i..."
161839,15425345,223973146,2018-01-02,532817,Kat,Loved staying at Max's place in Cape Town. The...,Cape Town,en,loved staying maxs place cape town location in...,1,,"[loved, staying, max, place, cape, town, locat..."
202532,17511576,597280363,2020-01-25,31599939,Paolo,"Sally was an amazing host, kind, thoughtful an...",Cape Town,en,sally amazing host kind thoughtful anticipatin...,1,amazing host,"[sally, amazing, host, kind, thoughtful, antic..."
42247,4629835,429821763,2019-03-29,25352063,Jaco,"Neat, clean and tidy. Conveniently close to Ca...",Cape Town,en,neat clean tidy conveniently close cape town s...,0,,"[neat, clean, tidy, conveniently, close, cape,..."
163657,15539917,224387938,2018-01-03,22138929,Gerry,We loved Star Cottage. It’s proximity to the b...,Cape Town,en,loved star cottage proximity beach cottage fee...,0,,"[loved, star, cottage, proximity, beach, cotta..."
...,...,...,...,...,...,...,...,...,...,...,...,...
118847,5133923,282489857,2018-06-27,4095682,Steven,"We had an odd check in time, but they were the...",Rio de janerio,en,odd check time let us hours flying perfect loc...,0,,"[odd, check, time, let, u, hour, flying, perfe..."
67607,2341350,77459486,2016-06-01,15120104,Nadia,"Luba is a lovely and beautiful woman. Caring, ...",Rio de janerio,en,luba lovely beautiful woman caring attentive g...,0,,"[luba, lovely, beautiful, woman, caring, atten..."
243883,18393419,198457557,2017-09-29,32537396,Joe,"Great stay, easy to work with Newton, great lo...",Rio de janerio,en,great stay easy work newton great location apa...,0,,"[great, stay, easy, work, newton, great, locat..."
83538,2778346,61151307,2016-02-01,2361472,Oliver,"Luana and her boyfriend were very, very friend...",Rio de janerio,en,luana boyfriend friendly accommodating great g...,0,,"[luana, boyfriend, friendly, accommodating, gr..."
5820,190906,2807950,2012-11-05,2885113,Alexandra,Charming apartment a short walk from the beach...,Rio de janerio,en,charming apartment short walk beaches eateries...,0,,"[charming, apartment, short, walk, beach, eate..."

In [60]:
df=df.drop(columns=['room'])

In [ ]:
df

In [34]:
for x in tqdm(range(len(df['comments1']))):
    if len(str(df['comments1'].iloc[x])) != 0:
        str1=""
        str2=""
        lines = str(df['comments'].iloc[x])
        doc = nlp(lines)
        for token in doc:
             if ((str(token)=="host")or (str(token)=="hosts")):
                for j in token.lefts:
                    if j.dep_ is 'amod' and j.pos_ is 'ADJ':
                        str1 = j.text+' '+'host'
                        df['host'].iloc[x]=str1
                for j in token.rights:
                    if j.dep_ is 'amod' and j.pos_ is 'ADJ':
                        str1 = j.text+' '+'host'
                        df['host'].iloc[x]=str1

  0%|                                                                                         | 0/1731 [00:00<?, ?it/s]C:\Users\sarka\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
  5%|████                                                                            | 88/1731 [00:02<01:05, 25.27it/s]C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
100%|██████████████████████████████████████████████████████████████████████████████| 1731/1731 [00:52<00:00, 33.21it/s]

In [35]:
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,Location,Languagereveiw,comments1,host1,host
62637,6351084,98167202,2016-08-29,5091634,Peter,Axel was very welcoming and helpful. The hous...,Cape Town,en,axel welcoming helpful house beautiful inside ...,0,
161839,15425345,223973146,2018-01-02,532817,Kat,Loved staying at Max's place in Cape Town. The...,Cape Town,en,loved staying maxs place cape town location in...,1,
202532,17511576,597280363,2020-01-25,31599939,Paolo,"Sally was an amazing host, kind, thoughtful an...",Cape Town,en,sally amazing host kind thoughtful anticipatin...,1,amazing host
42247,4629835,429821763,2019-03-29,25352063,Jaco,"Neat, clean and tidy. Conveniently close to Ca...",Cape Town,en,neat clean tidy conveniently close cape town s...,0,
163657,15539917,224387938,2018-01-03,22138929,Gerry,We loved Star Cottage. It’s proximity to the b...,Cape Town,en,loved star cottage proximity beach cottage fee...,0,
...,...,...,...,...,...,...,...,...,...,...,...
118847,5133923,282489857,2018-06-27,4095682,Steven,"We had an odd check in time, but they were the...",Rio de janerio,en,odd check time let us hours flying perfect loc...,0,
67607,2341350,77459486,2016-06-01,15120104,Nadia,"Luba is a lovely and beautiful woman. Caring, ...",Rio de janerio,en,luba lovely beautiful woman caring attentive g...,0,
243883,18393419,198457557,2017-09-29,32537396,Joe,"Great stay, easy to work with Newton, great lo...",Rio de janerio,en,great stay easy work newton great location apa...,0,
83538,2778346,61151307,2016-02-01,2361472,Oliver,"Luana and her boyfriend were very, very friend...",Rio de janerio,en,luana boyfriend friendly accommodating great g...,0,
5820,190906,2807950,2012-11-05,2885113,Alexandra,Charming apartment a short walk from the beach...,Rio de janerio,en,charming apartment short walk beaches eateries...,0,

In [ ]:
txt = df["comments"].iloc[2]
doc = ner(txt)

In [69]:
import spacy
ner = spacy.load("en_core_web_lg")

In [70]:
txt = df["comments"].iloc[2]
doc = ner(txt)
doc

Sally was an amazing host, kind, thoughtful and very anticipating of of my every requirement while staying. The 5 min walk to the Vineyard hotel was great for my conference purposes. Sally’s place is modern and immaculate with a great attention to detail in the most tranquil setting in a leafy suburb. Look forward to staying the next time I have business in Cape Town.

In [71]:
spacy.displacy.render(doc, style='ent')

In [72]:
displacy.render(nlp(str(doc)), jupyter=True, style='ent')

NameError: name 'displacy' is not defined

In [ ]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag

In [ ]:
def preprocess(sent):
    sent = nltk.word_tokenize(sent)
    sent = nltk.pos_tag(sent)
    return sent

In [ ]:
sent = preprocess(df['comments'].iloc[1])
sent

In [ ]:
sent= "Hello I am Anushka and I live in Slough"
sent=nltk.word_tokenize(sent)
j=nltk.pos_tag(sent)
print(j)

In [16]:
df["host1"]=""
df["host"]=""
df

C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,listing_id,id,date,reviewer_id,reviewer_name,comments,Location,Languagereveiw,comments1,host1,host
62637,6351084,98167202,2016-08-29,5091634,Peter,Axel was very welcoming and helpful. The hous...,Cape Town,en,axel welcoming helpful house beautiful inside ...,,
161839,15425345,223973146,2018-01-02,532817,Kat,Loved staying at Max's place in Cape Town. The...,Cape Town,en,loved staying maxs place cape town location in...,,
202532,17511576,597280363,2020-01-25,31599939,Paolo,"Sally was an amazing host, kind, thoughtful an...",Cape Town,en,sally amazing host kind thoughtful anticipatin...,,
42247,4629835,429821763,2019-03-29,25352063,Jaco,"Neat, clean and tidy. Conveniently close to Ca...",Cape Town,en,neat clean tidy conveniently close cape town s...,,
163657,15539917,224387938,2018-01-03,22138929,Gerry,We loved Star Cottage. It’s proximity to the b...,Cape Town,en,loved star cottage proximity beach cottage fee...,,
...,...,...,...,...,...,...,...,...,...,...,...
118847,5133923,282489857,2018-06-27,4095682,Steven,"We had an odd check in time, but they were the...",Rio de janerio,en,odd check time let us hours flying perfect loc...,,
67607,2341350,77459486,2016-06-01,15120104,Nadia,"Luba is a lovely and beautiful woman. Caring, ...",Rio de janerio,en,luba lovely beautiful woman caring attentive g...,,
243883,18393419,198457557,2017-09-29,32537396,Joe,"Great stay, easy to work with Newton, great lo...",Rio de janerio,en,great stay easy work newton great location apa...,,
83538,2778346,61151307,2016-02-01,2361472,Oliver,"Luana and her boyfriend were very, very friend...",Rio de janerio,en,luana boyfriend friendly accommodating great g...,,
5820,190906,2807950,2012-11-05,2885113,Alexandra,Charming apartment a short walk from the beach...,Rio de janerio,en,charming apartment short walk beaches eateries...,,

In [17]:
for i in range(len(df['comments'])):
    df['host1'].iloc[i]=(df['comments'].iloc[i]).count("host")
df

C:\Users\sarka\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\sarka\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,listing_id,id,date,reviewer_id,reviewer_name,comments,Location,Languagereveiw,comments1,host1,host
62637,6351084,98167202,2016-08-29,5091634,Peter,Axel was very welcoming and helpful. The hous...,Cape Town,en,axel welcoming helpful house beautiful inside ...,0,
161839,15425345,223973146,2018-01-02,532817,Kat,Loved staying at Max's place in Cape Town. The...,Cape Town,en,loved staying maxs place cape town location in...,1,
202532,17511576,597280363,2020-01-25,31599939,Paolo,"Sally was an amazing host, kind, thoughtful an...",Cape Town,en,sally amazing host kind thoughtful anticipatin...,1,
42247,4629835,429821763,2019-03-29,25352063,Jaco,"Neat, clean and tidy. Conveniently close to Ca...",Cape Town,en,neat clean tidy conveniently close cape town s...,0,
163657,15539917,224387938,2018-01-03,22138929,Gerry,We loved Star Cottage. It’s proximity to the b...,Cape Town,en,loved star cottage proximity beach cottage fee...,0,
...,...,...,...,...,...,...,...,...,...,...,...
118847,5133923,282489857,2018-06-27,4095682,Steven,"We had an odd check in time, but they were the...",Rio de janerio,en,odd check time let us hours flying perfect loc...,0,
67607,2341350,77459486,2016-06-01,15120104,Nadia,"Luba is a lovely and beautiful woman. Caring, ...",Rio de janerio,en,luba lovely beautiful woman caring attentive g...,0,
243883,18393419,198457557,2017-09-29,32537396,Joe,"Great stay, easy to work with Newton, great lo...",Rio de janerio,en,great stay easy work newton great location apa...,0,
83538,2778346,61151307,2016-02-01,2361472,Oliver,"Luana and her boyfriend were very, very friend...",Rio de janerio,en,luana boyfriend friendly accommodating great g...,0,
5820,190906,2807950,2012-11-05,2885113,Alexandra,Charming apartment a short walk from the beach...,Rio de janerio,en,charming apartment short walk beaches eateries...,0,

In [13]:
from tqdm import tqdm
nlp = spacy.load('en_core_web_lg', parse=True, tag=True, entity=True)

In [42]:
df['comments1'].iloc[10]

'truly beautiful stay cape town hosts attention detail beyond best ive experienced thank much'

In [59]:
df['room'].iloc[:60]

62637
161839
202532
42247
163657
171292
96809
267340
165189
45778
135996
329624
63013
175880
11979
234983
60347
248697
231464
32592
10176
114883
209038
279906
312230
317804
152620
28495
97623
222414
7345
243961
259184
233444
188404
193828
130647
38509
258404
154525     enough room
266332
151969
311245
298295
91566
247482
88745
146974
316117
4812
64602
158019
40370
97761
93685
80752
232159
243064
151171
43917
Name: room, dtype: object

In [48]:
df['host'].iloc[:60]

62637
161839
202532             amazing host
42247
163657
171292
96809
267340            powerful host
165189             perfect host
45778
135996     truly beautiful host
329624
63013                Great host
175880
11979
234983
60347
248697            friendly host
231464
32592
10176
114883
209038            friendly host
279906
312230
317804
152620
28495           responsive host
97623                great host
222414
7345
243961
259184             amazing host
233444
188404
193828
130647           wonderful host
38509
258404
154525
266332
151969
311245
298295
91566
247482
88745
146974
316117
4812
64602
158019
40370                clean host
97761             terrific host
93685               lovely host
80752           responsive host
232159
243064
151171
43917
Name: host, dtype: object

In [ ]:
for x in tqdm(range(len(df['comments1']))):
    if len(str(df['comments1'].iloc[x])) != 0:
        str1=""
        str2=""
        lines = str(df['comments1'].iloc[x])
        doc = nlp(lines)
        for token in doc:
            if ((str(token)=="hosts") or (str(token)=="host")):
                for j in token.lefts:
                    if j.dep_ is 'amod' and j.pos_ is 'ADJ':
                        str1 = j.text+' '+'host'
                        df['host'].iloc[x]=str1

In [ ]:
df

In [ ]:
df['host']=""

In [ ]:
txt= ("The beautiful hosts are appartement is beyond amazing!!! Beautifulll cleaannn and amazing view. Really loved it. Felt so good to be back at home after long day. Highly recommend this place + laurence is super host :)")

In [ ]:
r=[]
n=""
m=""
for x in tqdm(range(len(df['comments1']))):
    if len(str(df['comments1'].iloc[x])) != 0:
        str1=""
        str2=""
        lines = str(df['comments1'].iloc[x])
doc =nlp(txt)
for token in doc:
    if((str(token)=="host")or (str(token)=="hosts")):
        for j in token.lefts:
            if j.dep_ is 'amod' and j.pos_ is 'ADJ':
                str1 = j.text+' '+'host'
                n= " "+str1
                r.append(n)
            if j.dep_ is 'neg' and j.pos_ is 'ADV':
                str4 = j.text + ' '+ 'host'
                r.append(n)
                for k in j.lefts:
                    if k.dep_ is 'advmod':
                        str2 = k.text +' '+ j.text + ' '+'host'
                        n= " " + str2
                        r.append(n)
        for j in token.rights:
            if j.dep_ is 'amod' and j.pos is 'ADJ':
                str3= j.text + ' ' + 'host'
                m=" "+ str3
                r.append(m)
print(r)

In [ ]:
txt= (" the host great ")
r=[]
doc =nlp(txt)
for token in doc:
    if(str(token)=="host"):
        for j in token.rights:
            r=(j.text)
        print(r)

In [ ]:
doc = nlp("I like New York in Autumn.")
rights = [t.text for t in doc[1].rights]
print(rights)

In [ ]:
df['comments'].iloc[17]

In [ ]:
df['comments'].iloc[11:20]

In [ ]:
from spacy import displacy
txt = df["comments"].iloc[14]
doc = ner(txt)
displacy.render(doc)

In [ ]:
for token in doc:
            if ((str(token)=="hosts") or (str(token)=="host")):
                for j in token.lefts:
                    if j.dep_ is 'amod' and j.pos_ is 'ADJ':
                        str1 = j.text+' '+'host'
                        df['host'].iloc[x]=str1
                for j in token.rights:
                    if j.dep_ is 'amod' and j.pos_ is 'ADJ':
                        str1 = j.text+' '+'host'
                        df['host'].iloc[x]=str1

In [68]:
from spacy.lang.en import English
nlp = English(entity=True)
sent = nlp('John Smith loves coding in Python!')
print([token for token in sent if token.ent_type_ == 'PERSON'])

[]

In [66]:
txt = df["comments"].iloc[2]
doc = ner(txt)

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement spacy.en (from versions: none)
ERROR: No matching distribution found for spacy.en

In [91]:
import spacy
ner = spacy.load("en_core_web_sm")

In [86]:
txt = df["comments"].iloc[2]
doc = ner(txt)
doc

Sally was an amazing host, kind, thoughtful and very anticipating of of my every requirement while staying. The 5 min walk to the Vineyard hotel was great for my conference purposes. Sally’s place is modern and immaculate with a great attention to detail in the most tranquil setting in a leafy suburb. Look forward to staying the next time I have business in Cape Town.

In [87]:
spacy.displacy.render(sent, style='ent')

In [160]:
nlp = English(entity=True)
for k in range(len(df['comments1'])):
    sent = ner(df['comments'].iloc[k])
    for token in sent:
        if token.ent_type_ == 'GPE':

Cape
Town
Cape
Town
Cape
Town
Muizenberg
beach
Cape
Town
Cape
Town
Capetown
airbnb
Cape
Town
US
Katja
Nadia
☺
Airbnb
Cape
Town
CapeTown
Jonty
Jonty
Cape
Town
Airbnb
Cape
Town
Cape
Town
Capetown
Cape
Town
Cape
Town
Cape
Town
Cape
Town
Cape
Town
Blouberg
Cape
Town
Cape
Town
Cape
Town
Hidden
Airbnb
Hidden
Airbnb
Cape
Town
Cape
Town
Cape
Town
Cape
Town
South
Africa
Jeanie
Cape
Town
Cape
Town
Virginia
joburg
Cape
Town
Somerset
west
Cape
Town
Cape
Town
Adnan
Cape
Town
Airbnb
Cape
Town
Rondebosch
Katja
S.A.
Lagoon
beach
Cape
Town
yoghurt
muesli
Cape
Town
Cape
Town
Hong
Kong
Hong
Kong
Hong
Kong
Hong
Kong
Hong
Kong
HK
HK
HK
island
Hong
Kong
Zoe
J.C.
Hong
Kong
Hong
Kong
Mongkok
Hong
Kong
Barista
Hong
Kong
HongKong
Hong
Kong
Diana
HK
HongKong
Hong
Kong
HK
Hong
Kong
HK
Hidden
Airbnb
HK
Airbnb
Kowloon
Hong
Kong
Airbnb
Hong
Kong
Hong
Kong
Hong
Kong
Hong
Kong
Hong
Kong
Hong
Kong
the
New
Territories
Jaehwan
Hong
Kong
Lisbon
Lisbon
Lisbon
picturesque
Portugal
Laima
Airbnb
us
Bairro
Alto
Lisbon
Lisbon
Lisbon
Lisbon
Lisbon
Lisbon
Lisbon
Airbnb
Airbnb
Luisa
Teresa
Lisbon
Lisbon
Lisbon
Lisbon
Lisbon
Portugal
Cecilia
Alfama
Lisbon
Lisbon
Lisbon
Lisbon
Mariana
Lisbon
Lisbon
Lisbon
Lisbon
Lisbon
Liliana
Airbnb
Lisbon
Gonçalo
Bairro
Alto
Lisbon
Cascais
Lourel
Portugal
Alfama
Camila
Alfama
Lisbon
Alfama
Alfama
Airbnb
Lissabon
Alfama
Alfama
Slovenia
Lisbon
Airbnb
Lisbon
Lisbon
Rosaria
Bairro
Alto
Lisbon
Lisbon
Alexandre
Airbnb
Sebastião
João
Andreia
Lisbon
Lisbon
Istanbul
Istanbul
Murat
Pera
Istanbul
Istanbul
Yesim
Hikmet
Istanbul
Istanbul
Marmar
Marmar
Istanbul
Hidden
Airbnb
Istanbul
Istanbul
Istanbul
Istanbul
Istanbul
Airbnb
Istanbul
Istanbul
Istanbul
Istanbul
Kadikoy
Kadikoy
Istanbul
Istanbul
Yavuz
AMAZING
Istanbul
Istanbul
Istanbul
Istanbul
Imbraim
Mehmet
Mehmet
Istanbul
Istanbul
Istanbul
Istanbul
Istanbul
Yavuz
Istanbul
Istanbul
Istanbul
the
Old
City
Taksim
airbnb
Istanbul
Istanbul
Istanbul
Turkey
Denis
Istanbul
Istanbul
Nistantasi
Istanbul
Nisantasi
Cafe
Teleferik
Istanbul
Istanbul
Istanbul
Istanbul
Taskim
Istanbul
London
Camden
Heathrow
London
Hammersmith
London
London
London
Tube
Airbnb
London
London
London
london
Airbnb
London
London
London
Paddington
London
London
Benkenham
London
Victoria
London
Camden
London
London
London
Billie
London
London
London
Twickenham
Thames
London
Rebecca
Stratford
London
Camden
London
London
London
FC
Hoxton
Airbnb
London
London
London
London
Camden
London
London
Holborn
Holborn
London
London
London
Adelina
Adelina
Adelina
London
London
Airbnb
London
London
London
Sydenham
London
London
London
London
London
London
London
London
London
London
London
the
City
of
London
London
Windsor
Camden
Town
London
London
Nina
London
London
Airbnb
London
London
Brixton
London
London
London
Sadan
London
London
London
London
London
London
Victoria
Airbnb
St.
Marks
Manhattan
Brooklyn
Manhattan
New
York
Brooklyn
Crown
Heights
Brooklyn
Manhattan
NY
Manhattan
Williamsburg
NY
Airbnb
Greenpoint
Brooklyn
Manhattan
Chicago
N
Manhattan
Chicago
New
York
Brooklyn
Williamsburg
Williamsburg
Manhattan
new
york
Brooklyn
New
-
York
Manhattan
Manhattan
New
York
Brooklyn
Manhattan
Williamsburg
Williamsburg
Astoria
Brooklyn
airbnb
Manhattan
Brooklyn
New
York
Brooklyn
Brooklyn
Manhattan
Williamsburg
Manhattan
New
York
Chelsea
Manhattan
France
NY
Brooklyn
PGA
-
Bethpage
Park
Long
Beach
East
Village
New
York
New
York
New
York
Manhattan
Crown
Heights
Brooklyn
Manhattan
Manhattan
Brooklyn
Brooklyn
Jenna
MaElena
Airbnb
New
York
Airbnb
Williamsburg
Manhattan
New
York
Larah
New
York
NY
Zürich
Switzerland
Galway
UK
China
Ireland
New
York
Manhattan
Manhattan
NY
Marcus
Megan
America
Airbnb
Manhattan
Williamsburg
Airbnb
Airbnb
Airbnb
Paris
Paris
Paris
Frédérique
Paris
Paris
Paris
Paris
Paris
Paris
Paris
Sebastian
AirBnb
Bertrand
Bertrand
Bertrand
Paris
Paris
Paris
Paris
Livinparis
Paris
Paris
Paris
Paris
Paris
Salvatore
Paris
Yankel
Paris
Airbnb
Marie
Paris
Isabelle
Paris
Paris
Paris
Paris
Paris
Paris
Paris
Paris
the
Left
Bank
Paris
Paris
Paris
Paris
Louvre
Paris
Paris
Paris
Paris
Paris
Paris
bekommt
Paris
Paris
Paris
Paris
Marais
Louvre
Paris
Hoover
Paris
Paris
Paris
Quentin
Paris
Bertrand
Paris
Bertrand
Paris
Paris
Rome
Rome
Rome
Rome
Massimo
Rome
Airbnb
Nicolettas
Rome
Rome
Airbnb
Stephanie
Daniele
Livia
Fabio
Livia
Livia
Roma
Termi
the
Vatican
City
Livia
Livia
Fabio
Livia
Fabio
Rome
Ivana
Rome
Rome
Annamaria
Florence
Naples
Rome
Annamaria
Rome
Rome
Rome
Vatican
city
Rome
Rome
Rome
Rome
Coppedè
Termini
Coppedè
Rome
Rome
Rome
Rome
Sara
Rome
rome
Rome
Rome
Achille
Achille
Rome
Termini
noisy
Rome
Nadia
Rome
Rome
Rome
Rome
Rome
Danielle
Rome
Rome
Fabiana
Rome
Rome
Rome
Rome
Rome
Airbnb
Rome
Rome
Rome
Pigneto
Brooklyn
Austin
Rome
Rome
Rome
Rome
Rome
Rome
Massimo
Rome
Rome
Rome
Rome
Rome
Vecchio
Sydney
Sydney
Charlotte
Coogee
Sydney
Bondi
Beach
Sydney
Dishes
Tina
Sydney
Darling
Park
Airbnb
Newtown
Sydney
Newtown
Maroubra
Beach
Diamond
Beach
Sydney
Sydney
Paddington
Bondi
Avalon
Beach
Hidden
Airbnb
Sydney
Palm
Beach
Marrickville
Sydney
Surry
Hills
Sydney
Ilya
Manly
Sydney
Sydney
Airbnb
Sydney
Hidden
Airbnb
Airbnb
Sydney
Surry
Hills
Sydney
Airbnb
Sydney
Bondi
Bondi
Beach
Sydney
Lena
Sydney
Sydney
Whale
Beach
US
Airbnb
Manly
Bondi
Beach
Bondi
Beach
Silong
Flemington
Homebush
Silong
Bondi
Sydney
JR
Kasai
tokyo
Tokyo
Tokyo
Tokyo
Tsukiji
tokyo
Tokyo
Shibuya
Tokyo
Shibuya
Tokyo
Tokyo
Kabukicho
Korea
Town
Tokyo
Tokyo
Ultraman
city
tokyo
Kanda
Tokyo
Hamamatsucho
metro
Tokyo
Airbnb
Seika
Tokyo
Tokyo
Shibuya
Tokyo
Tokyo
Tokyo
Tokyo
Yuko
Tokyo
JR
Airbnb
Tokyo
Akihabara
Airbnb
Tokyo
Japan
Japan
Tokyo
Narita
Tokyo
Tokyo
Airbnb
Tokyo
Tokyo
Tokyo
Shibuya
Station
Tokyo
Tokyo
Tokyo
Tokyo
Shibuya
Tokyo
Tokyo
Tokyo
Shibuya
JR
Japan
Airbnb
Airbnb
Japan
Victoria
Victoria
Seoul
Irina
Gonzales
Beach
Victoria
Airbnb
Victoria
Carene
Carene
Ontario
Victoria
Darla
Salt
Spring
Island
Karen
Vancouver
Victoria
Vancouver
Island
Georgia
Georgia
LoVe
Airbnb
Nice
Victoria
Airbnb
Paulo
Victoria
Victoria
Nosy
B&B
Airbnb
Brigmanns
Victoria
Bonita
Bonita
Airbnb
China
Myka
Victoria
city
Victoria
Victoria
Victoria
Victoria
Salt
Spring
Island
Copacabana
Copacabana
Santa
Satisfação
Obrigado
Rio
Copacabana
Theresa
Theresa
Brazil
Paulo
Copacabana
Patrizia
Airbnb
copercabana
beach
Copacabana
Airbnb
Bruna
Copacabana
gay
beach
Copacabana
Luana
Botafogo

In [148]:
df['comments1']

62637     Axel welcoming helpful The house beautiful ins...
161839    Loved staying hosts place host host The locati...
202532    host amazing host kind thoughtful anticipating...
42247     Neat clean tidy Conveniently close Cape Town S...
163657    We loved Star Cottage Its proximity beach cott...
                                ...
118847    We odd check time let us hours flying Perfect ...
67607     Luba lovely beautiful woman Caring attentive g...
243883    Great stay easy work Newton great location apa...
83538     Luana boyfriend friendly accommodating great g...
5820      Charming apartment short walk beaches eateries...
Name: comments1, Length: 1731, dtype: object

In [159]:
sent = ner(df['comments'].iloc[2])
for token in sent:
    if token.ent_type_ == 'LOCATION':
        h=token.text
        x=h.lower()

In [156]:
df['comments1'].iloc[1]

'Loved staying hosts place host host The location incredible apartment great launching point activities city host communicative wifi also speedy might need little workhost video calls Will definitely stay I come back'

In [157]:
df['comments'].iloc[1]

"Loved staying at Max's place in Cape Town. The location is incredible and the apartment is a great launching point for any and all activities in the city. Max is communicative and the wifi was also speedy for those who might need to do a little work/host video calls. Will definitely stay here again if I come back!"